<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Régions / Départements / Villes</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <style>
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s
        }

        .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */
        {
            opacity: 0
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div th:replace="nav :: navbar" class="row"></div>

    <div id="geo" class="row">
        <form class="form-horizontal col-md-12">
            <!-- Sélection des régions -->
            <div class="form-group type">
                <label class="col-sm-2 control-label">Régions</label>
                <div class="col-sm-10">
                    <div class="row">
                        <button type="button" class="btn btn-link" @click="toggleDisplayRegions">{{ regionsAction }} la liste des
                            régions
                        </button>
                    </div>
                    <transition name="fade">
                        <div class="row" v-if="regionsVisible">
                            <div class="col-sm-3">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Alsace</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.alsace)"
                                                                     v-model="regions.alsace.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Aquitaine</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.aquitaine)"
                                                                     v-model="regions.aquitaine.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Auvergne</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.auvergne)"
                                                                     v-model="regions.auvergne.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Auvergne-Rhône-Alpes</td>
                                        <td style="width: 5%"><input type="checkbox"
                                                                     @click="toggleRegion(regions.auvergneRhoneAlpes)"
                                                                     v-model="regions.auvergneRhoneAlpes.selected">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Basse-Normandie</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.basseNormandie)"
                                                                     v-model="regions.basseNormandie.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Bourgogne</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.bourgogne)"
                                                                     v-model="regions.bourgogne.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Bourgogne-Franche-Comté</td>
                                        <td style="width: 5%"><input type="checkbox"
                                                                     @click="toggleRegion(regions.bougogneFrancheComte)"
                                                                     v-model="regions.bougogneFrancheComte.selected">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bretagne</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.bretagne)"
                                                                     v-model="regions.bretagne.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Centre-Val de Loire</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.centreValDeLoire)"
                                                                     v-model="regions.centreValDeLoire.selected">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-3">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Champagne-Ardenne</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.champagneArdennes)"
                                                                     v-model="regions.champagneArdennes.selected">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Corse</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.corse)"
                                                                     v-model="regions.corse.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Franche-Comté</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.francheComte)"
                                                                     v-model="regions.francheComte.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Grand Est</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.grandEst)"
                                                                     v-model="regions.grandEst.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Haute-Normandie</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.hauteNormandie)"
                                                                     v-model="regions.hauteNormandie.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Hauts-de-France</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.hautsDeFrance)"
                                                                     v-model="regions.hautsDeFrance.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Ile-de-France</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.idf)"
                                                                     v-model="regions.idf.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Languedoc-Roussillon</td>
                                        <td style="width: 5%"><input type="checkbox"
                                                                     @click="toggleRegion(regions.languedocRoussillon)"
                                                                     v-model="regions.languedocRoussillon.selected">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Limousin</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.limousin)"
                                                                     v-model="regions.limousin.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Lorraine</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.lorraine)"
                                                                     v-model="regions.lorraine.selected"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-sm-3">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Midi-Pyrénées</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.midiPyrenees)"
                                                                     v-model="regions.midiPyrenees.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Nord-Pas-de-Calais</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.nordPasDeCalais)"
                                                                     v-model="regions.nordPasDeCalais.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Normandie</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.normandie)"
                                                                     v-model="regions.normandie.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Nouvelle-Aquitaine</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.nouvelleAquitaine)"
                                                                     v-model="regions.nouvelleAquitaine.selected">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Occitanie</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.occitanie)"
                                                                     v-model="regions.occitanie.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Pays de la Loire</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.paysDeLaLoire)"
                                                                     v-model="regions.paysDeLaLoire.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Picardie</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.picardie)"
                                                                     v-model="regions.picardie.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Poitou-Charentes</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.poitouCharentes)"
                                                                     v-model="regions.poitouCharentes.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Provence-Alpes-Côte d'Azur</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.paca)"
                                                                     v-model="regions.paca.selected"></td>
                                    </tr>
                                    <tr>
                                        <td>Rhône-Alpes</td>
                                        <td style="width: 5%"><input type="checkbox" @click="toggleRegion(regions.rhoneAlpes)"
                                                                     v-model="regions.rhoneAlpes.selected"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>

            <!-- Sélection des départements -->
            <div class="form-group type">
                <label class="col-sm-2 control-label">Départements</label>
                <div id="departements" class="col-sm-10">
                    <div class="row">
                        <button type="button" class="btn btn-link" @click="toggleDisplayDepartements">{{ departementsAction }} tous
                            les départements
                        </button>
                        <span v-if="hasSelectedRegion">|</span>

                        <button type="button" class="btn btn-link" @click="toggleDisplayFiltredDepartements"
                                v-if="hasSelectedRegion">{{ departementsAction }} les
                            départements des régions
                            sélectionnées
                        </button>
                    </div>
                    <transition name="fade">
                        <div class="row" v-if="departementsVisible">
                            <div class="col-sm-3">
                                <table class="table">
                                    <tbody>
                                    <tr v-for="dpt in departementsGroupA">
                                        <td>{{ dpt.name }}</td>
                                        <td><input type="checkbox"></td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-3">
                                <table class="table">
                                    <tbody>
                                    <tr v-for="dpt in departementsGroupB">
                                        <td>{{ dpt.name }}</td>
                                        <td><input type="checkbox"></td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-sm-3">
                                <table class="table">
                                    <tbody>
                                    <tr v-for="dpt in departementsGroupC">
                                        <td>{{ dpt.name }}</td>
                                        <td><input type="checkbox"></td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </transition>

                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-xs-12 col-sm-12">
                    <button onclick="window.location='search.html'" type="button" class="btn btn-primary">Valider
                    </button>
                    <button type="button" class="btn btn-link">Annuler</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.3/lodash.min.js"></script>

<script src="/js/views/geo.js"></script>

</body>
</html>