<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
<div class="container-fluid">
    <div th:fragment="navbar" class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" style="margin-top: -7px" href="#">
                        <img alt="Brand" src="img/logo.svg" style="width:35px">
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>